@font-face {
  font-family: "IranNastaliq";
  src: url(../src/assets/fonts/IranNastaliq/IranNastaliq.ttf);
}
@font-face {
  font-family: "IRANSans";
  src: url(../src/assets/fonts/IRANSans/IRANSans.ttf);
}
@font-face {
  font-family: "Yekan";
  src: url(../src/assets/fonts/yekan/Yekan.ttf);
}
@font-face {
  font-family: "neirizi";
  src: url(../src/assets/fonts/neirizi/neirizi.ttf);
}
@keyframes errorLoader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}
@tailwind base;
@layer base {
  body {
    @apply bg-gray-200;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .errorLoader {
    margin-left: 24px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    color: rgb(39, 37, 37);
    animation: errorLoader 1s linear infinite alternate;
  }
}
