@font-face {
  font-family: "IranNastaliq";
  src: url(../src/assets/fonts/IranNastaliq/IranNastaliq.ttf);
}
@font-face {
  font-family: "IRANSans";
  src: url(../src/assets/fonts/IRANSans/IRANSans.ttf);
}
@font-face {
  font-family: "Yekan";
  src: url(../src/assets/fonts/yekan/Yekan.ttf);
}
@font-face {
  font-family: "neirizi";
  src: url(../src/assets/fonts/neirizi/neirizi.ttf);
}
@tailwind base;
@layer base{
  body{
    @apply bg-gray-200;
    direction:rtl;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header-shadow{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .category-box {
    @apply h-24 w-24 bg-gray-300 rounded-3xl grid justify-items-center items-center text-sm text-center font-IRANSans py-3 relative;
  }   
}